{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FileScan | Dashboard</title>
  <!-- Metadata -->
  <meta name="theme-color" content="#FFFFFF">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <!-- CSS Overrides -->
  <link href="{% static 'styles/overrides.css' %}" rel="stylesheet">
</head>
<body class="app" style="display: flex; flex-direction: column;">
<!-- Navigation -->
<div class="container px-2 py-4">
  <nav class="navbar navbar-expand-sm p-0 m-0">
    <div class="container-fluid p-0 m-0">
      <a class="navbar-brand" href="{% url 'dashboard' %}">FileScan</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarLinks">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarLinks">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 gap-2">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'dashboard' %}"><i class="bi bi-speedometer me-2"></i>Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}"><i class="bi bi-person-circle me-2"></i>{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <form method="POST" action="{% url 'sign-out' %}">
              {% csrf_token %}
              <button type="submit" class="nav-link"><i class="bi bi-box-arrow-right me-2"></i>Sign out</button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<!-- Main Content -->
<div class="container px-2 mt-5 flex-grow-1">
  <h1 class="mb-5">Dashboard</h1>
  <div class="row g-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <span><i class="bi bi-box-arrow-in-down"></i></span>
          <span>Upload a file</span>
        </div>
        <div class="card-body d-flex flex-column gap-3">
          <div class="upload-box" id="uploadBox">
            <i class="bi bi-box-arrow-in-down"></i>
            <span>Drag a file here for analysis</span>
          </div>
          <div>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="d-flex flex-column gap-3">
                <input type="file" name="file" class="form-control" id="inputFile" required>
                <button type="submit" class="btn btn-primary" id="analyseButton" disabled>Analyse</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col mh-100">
      <div class="d-flex flex-column gap-3">
        {% for result in user_results %}
          <div class="card detail" data-bs-toggle="modal" data-bs-target="#details-{{ result.id }}">
            <div class="card-header">
              <span class="file-icon"><i class="bi bi-file-earmark-fill"></i></span>
              <span class="filename">{{ result.filename }}</span>
              <span class="filesize">{{ result.filesize }}</span>
            </div>
            <div class="card-body">
              {% if result.is_benign %}
                <div class="result clean">
                  <span class="result-icon"><i class="bi bi-check-circle-fill"></i></span>
                  <span class="result-text">Clean</span>
                </div>
                <div class="description">
                  <span class="description-text">No malware was detected.</span>
                </div>
              {% else %}
                <div class="result detected">
                  <span class="result-icon"><i class="bi bi-exclamation-triangle-fill"></i></span>
                  <span class="result-text">{{ result.top_category }} <span class="family">{{ result.top_family }}</span></span>
                </div>
                <div class="description">
                  <span class="description-text">{{ result.summary }}</span>
                </div>
              {% endif %}
            </div>
            <div class="card-footer">
              <span class="hash">{{ result.file_hash }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if not user_results %}
      <div class="empty-container">
        <div class="card empty">
          <div class="card-body empty">
            <span>Upload a file to get started</span>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<!-- Footer -->
<div class="container">
  <footer class="py-3 mt-4 border-top text-center">
    <a class="btn-link text-secondary">FileScan is a University Project</a>
  </footer>
</div>

<!-- Details Modal -->
{% for result in user_results %}
<div class="modal fade" id="details-{{ result.id }}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 50%;">
    <div class="modal-content detail">
        <div class="modal-header flex-column align-items-start">
            {% if result.is_benign %}
              <div class="result clean">
                <span class="result-icon"><i class="bi bi-check-circle-fill"></i></span>
                <span class="result-text">Clean</span>
              </div>
              <div class="description">
                <span class="description-text">No malware was detected.</span>
              </div>
            {% else %}
              <div class="result detected">
                <span class="result-icon"><i class="bi bi-exclamation-triangle-fill"></i></span>
                <span class="result-text">{{ result.top_category }} <span class="family">{{ result.top_family }}</span></span>
              </div>
              <div class="description">
                <span class="description-text">{{ result.summary }}</span>
              </div>
            {% endif %}
        </div>
        <div class="modal-body d-flex flex-column gap-3">
          <div class="card">
            <div class="card-header">File Details</div>
            <div class="card-body">
              <div class="d-flex gap-3 align-items-center">
                <div class="bin">
                  <img class="bin-img" src="{{ result.img_base64 }}" style="image-rendering: pixelated">
                </div>
                <div class="file-stats">
                  <div>
                    <span class="file-icon"><i class="bi bi-file-earmark-fill"></i></span>
                    <span class="filename">{{ result.filename }}</span>
                  </div>
                  <div>
                    Filesize: {{ result.filesize }}
                  </div>
                  <div>
                    md5: {{ result.file_hash }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">Malware Identification</div>
            <div class="card-body">
              <div class="d-flex gap-2 flex-column">
                <div class="position-relative" style="height: 32px;">
                  <div class="progress" style="height: 100%;">
                    <div class="progress-bar prediction-main" style="width: {{ result.identity_result }}%;"></div>
                  </div>
                  <div class="position-absolute top-0 start-0 end-0 d-flex justify-content-between align-items-center px-2" style="height: 100%;">
                    <span class="text-black text-truncate">{% if result.is_benign %}Benign{% else %}Malicious{% endif %}</span>
                    <span class="text-black">{{ result.identity_result }}%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if result.is_benign == False %}
          <div class="card">
            <div class="card-header">Malware Classification</div>
            <div class="card-body">
              <div class="d-flex gap-2 flex-column">
                {% for name, prob in result.category_results %}
                  <div class="position-relative" style="height: 32px;">
                    <div class="progress" style="height: 100%;">
                      <div class="progress-bar {% if forloop.first %}prediction-main{% else %}prediction-secondary{% endif %}" style="width: {{ prob }}%;"></div>
                    </div>
                    <div class="position-absolute top-0 start-0 end-0 d-flex justify-content-between align-items-center px-2" style="height: 100%;">
                      <span class="text-black text-truncate">{{ name }}</span>
                      <span class="text-black">{{ prob }}%</span>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header">Malware Prediction</div>
            <div class="card-body">
              <div class="mb-3">{{ result.behaviour }}</div>
              <div class="d-flex gap-2 flex-column">
                {% for name, prob in result.family_results %}
                  <div class="position-relative" style="height: 32px;">
                    <div class="progress" style="height: 100%;">
                      <div class="progress-bar {% if forloop.first %}prediction-main{% else %}prediction-secondary{% endif %}" style="width: {{ prob }}%;"></div>
                    </div>
                    <div class="position-absolute top-0 start-0 end-0 d-flex justify-content-between align-items-center px-2" style="height: 100%;">
                      <span class="text-black text-truncate">{{ name }}</span>
                      <span class="text-black">{{ prob }}%</span>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link text-danger" data-bs-toggle="modal" data-bs-target="#delete-{{ result.id }}">Delete</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delete-{{ result.id }}" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">Delete Result</div>
      <div class="modal-body">Are you sure?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#details-{{ result.id }}">Cancel</button>
        <form method="post" action="{% url 'delete_result' result.id %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
<!-- extra javascript -->
<script>
  const uploadBox = document.getElementById('uploadBox');
  const fileInput = document.getElementById('inputFile');
  const analyseButton = document.getElementById('analyseButton');
  // disable the analyse button if there is no file
  fileInput.addEventListener('change', () => {
    analyseButton.disabled = fileInput.files.length === 0;
  });
  // allow drag and drop
  uploadBox.addEventListener('dragover', (e) => {
    e.preventDefault();
    e.stopPropagation();
    uploadBox.classList.add('dragover');
  });
  uploadBox.addEventListener('dragleave', () => {
    uploadBox.classList.remove('dragover');
  });
  uploadBox.addEventListener('drop', (e) => {
    e.preventDefault();
    e.stopPropagation();
    uploadBox.classList.remove('dragover');
    const files = e.dataTransfer.files;
    if (files.length > 0) {
      fileInput.files = files;
      analyseButton.disabled = false;
    }
  });
</script>
</body>
</html>